button {
  border: none;
  background-color: $secondary-color;

  width: 159px;
  height: 42px;
  // padding: 10px;

  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #f5f5f5;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
