@media (max-width: 550px) {
  nav {
    background-color: $primary-color-alt;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: solid 4px $secondary-color;
    font-family: $primary-font;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 33;
    ul {
      position: absolute;
      right: -50%;
      height: 92vh;
      top: 40px;
      background-color: $primary-color-alt;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      min-height: 100vh;
      li {
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        letter-spacing: 0.96px;
        border-bottom: 4px solid $accent-color;
        text-align: center;
        width: 100%;
        padding: 4rem 0;
        opacity: 0;
        list-style: none;
        &:first-child {
          border-top: 4px solid $secondary-color;
        }
        a {
          padding-right: 1.25rem;
        }
      }
      .active {
        color: $accent-color;
      }
    }
  }

  .burger {
    position: absolute;
    right: 50px;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: $tertiary-color;
    margin: 5px;
    transition: all 0.3 ease;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  nav {
    background-color: $primary-color-alt;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: solid 4px $secondary-color;
    font-family: $primary-font;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 33;
    ul {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 40px;
      background-color: $primary-color-alt;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      min-height: 100vh;
      li {
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        letter-spacing: 0.96px;
        border-bottom: 4px solid $accent-color;
        text-align: center;
        width: 100%;
        padding: 4rem 0;
        opacity: 0;
        list-style: none;
        &:first-child {
          border-top: 4px solid $secondary-color;
        }
        a {
          padding-right: 1.25rem;
        }
      }
    }
  }

  .burger {
    position: absolute;
    right: 50px;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: $tertiary-color;
    margin: 5px;
    transition: all 0.3 ease;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

@media (min-width: 550px) {
  nav {
    background-color: $primary-color-alt;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: solid 4px $secondary-color;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    ul {
      li {
        display: inline-block;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        letter-spacing: 0.96px;
        margin-right: 42px;
      }
    }
  }
  .burger {
    display: none;
  }
}

.hidden {
  display: none;
}

.active {
  color: $accent-color !important;
}
