nav {
  background-color: $primary-color-alt;
  height: 10vh;
  display: flex;

  .nav-link {
    color: white;

    //   font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.96px;
  }
}
