// Variables

// Colors
$primary-color: #1b242f;
$primary-color-alt: #252934;
$secondary-color: #04c2c9;
$tertiary-color: #f5f5f5;
$accent-color: #e31b6d;
// $accent-color: #eeff00;

$secondary-font-color: #d4d4d4;

// Fonts
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Amita", cursive;


// Helper
// Margins
.mr1 {
  margin-right: 1rem;
}
.mr2 {
  margin-right: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

//Padding
.pt1 {
  padding-top: 1rem;
}
