.contact-vector {
  background-image: url(../../../img/contact-bg.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  h2 {
    margin-top: 2.5rem;
    padding-bottom: 3rem;
    text-align: center;
    color: $accent-color;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
  }
  h3 {
    text-align: center;
    color: $tertiary-color;
    margin: 1rem;
  }
  form {
    .inputs-grid {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-wrapper {
        margin: 0.25rem;
        label {
          color: $tertiary-color;
          display: none;
        }
        ::placeholder {
          font-family: $primary-font;
        }
      }
    }

    .btn-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
      padding: 0.75rem;
      button {
        font-size: 1.1rem;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-size: 0.75rem;
  background-color: $primary-color;
  color: $tertiary-color;
  // border-bottom: 2.5px solid #626262;
  // border-top: 1px solid #626262;
}

@media (min-width: 1000px) {
  .contact-vector {
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    // min-height: 100vh;
    .contact {
      .contact__header {
        font-size: 3.5rem;
        margin-top: 12rem;
        letter-spacing: 8px;
      }
      .form-header {
        font-size: 1.75rem;
        margin-top: 8rem;
      }
      .contact-form {
        width: 30%;
        margin: auto;
        .inputs-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 5rem;
          // justify-items: center;
          .input-wrapper {
            display: flex;
            margin-bottom: 1rem;

            input {
              width: 100%;
              // padding: 0.5rem;
              font-size: 1.25rem;
            }
          }
          .grid-col-span-2 {
            grid-column: span 2;
            textarea {
              width: 100%;
              font-size: 1.25rem;
            }
          }
        }
        .btn-wrapper {
          button {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  footer {
    font-size: 1rem;
  }
}
