.contact-vector {
  background-image: url(../../../img/contact-bg.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  h2 {
    margin-top: 2.5rem;
    padding-bottom: 3rem;
    text-align: center;
    color: $accent-color;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
  }
  h3 {
    text-align: center;
    color: $tertiary-color;
    margin: 1rem;
  }
  form {
    .inputs-grid {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-wrapper {
        margin: 0.25rem;
        label {
          color: $tertiary-color;
          display: none;
        }
        ::placeholder {
          font-family: $primary-font;
        }
      }
    }

    .btn-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
      padding: 0.75rem;
      button {
        font-size: 1.1rem;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-size: 0.75rem;
  background-color: $primary-color;
  color: $tertiary-color;
  // border-bottom: 2.5px solid #626262;
  // border-top: 1px solid #626262;
}
