.home-container {
  height: 100vh;
  max-width: 100%;
  background-image: url(../../../img/home-bg.jpg);
  background-color: $primary-color;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center bottom;

  display: flex;
  justify-content: center;
  align-items: center;

  .name-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-heading {
      color: $secondary-font-color;
      font-family: $primary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.8125rem;
      letter-spacing: 4.8px;
      margin-bottom: 0;
    }

    .heading {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: bold;
      font-size: 6rem;
      line-height: 186px;
      margin-bottom: 0;
    }

    .icons-container {
      display: flex;
      margin-top: 1rem;
      align-items: center;
    }
  }

  .down-arrow {
    display: inline-block;
    align-self: flex-end;
    position: absolute;
    bottom: -79px;
    // bottom: 0;
    left: 82%;
    height: 79px;
    width: 129px;
    background-color: $secondary-color;
    color: white;
    // padding-top: 10px;
    img {
      padding-top: 1.5rem;
    }
  }

  // .down-arrow-img {
  //   background-repeat: no-repeat;
  //   background-image: url(../../../img/down-ar.png);
  //   position: absolute;
  //   z-index: 999;
  //   height: 100px;
  //   width: 100px;
  // }
}

// down arr animation
.slide-top {
  -webkit-animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    forwards;
  animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}

// keyframes
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-79px);
    transform: translateY(-79px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-79px);
    transform: translateY(-79px);
  }
}

//arr bounce animation
.bounce {
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
  // animation-delay: 2.5s;
}

// keyframes
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

// twinkling stars

// @keyframes move-twink-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -10000px 5000px;
//   }
// }
// @-webkit-keyframes move-twink-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -10000px 5000px;
//   }
// }
// @-moz-keyframes move-twink-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -10000px 5000px;
//   }
// }
// @-ms-keyframes move-twink-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -10000px 5000px;
//   }
// }

// .stars,
// .twinkling,
// .clouds {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   display: block;
// }

// .stars {
//   background: $primary-color
//     url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
//     center;
//   z-index: 0;
// }

// .twinkling {
//   background: transparent
//     url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
//     top center;
//   z-index: 1;

//   -moz-animation: move-twink-back 200s linear infinite;
//   -ms-animation: move-twink-back 200s linear infinite;
//   -o-animation: move-twink-back 200s linear infinite;
//   -webkit-animation: move-twink-back 200s linear infinite;
//   animation: move-twink-back 200s linear infinite;
// }
