.home {
  // min-height: 500px;
  min-height: 100vh;
  position: relative;
  // background-color: $primary-color;
  background-image: url(../../../img/finalbg.png);
  background-size: cover;

  color: $tertiary-color;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-content: center;

  .name-container {
    font-family: $primary-font;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
    letter-spacing: 4px;
    z-index: 3;

    .heading {
      // margin-top: 1rem;
      font-family: $secondary-font;
      font-size: 3rem;
      font-weight: 500;
      // font-style: italic;
    }

    .sub-heading {
      font-size: 1rem;
      font-weight: 300;
    }

    .icons-container {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;
    }
  }

  .down-arrow {
    align-self: flex-end;
    margin-right: 1rem;
    z-index: 3;
  }
}

@media (min-width: 1000px) {
  .home {
    min-height: 100vh;
    .name-container {
      .sub-heading {
        font-size: 1.5rem;
      }
      .heading {
        font-size: 6rem;
      }
      .icons-container {
        margin-top: 1rem;
      }
    }
    .down-arrow {
      height: 79px;
      width: 129px;
      position: absolute;
      bottom: -79px;
      img {
        padding-top: 1.5rem;
      }
    }
  }

  //animations
  // down arr animation
  .slide-top {
    -webkit-animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
      forwards;
    animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
  }

  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-79px);
      transform: translateY(-79px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-79px);
      transform: translateY(-79px);
    }
  }

  //arr bounce animation
  .bounce {
    -webkit-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
    // animation-delay: 2.5s;
  }

  // keyframes
  @-webkit-keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}

@media (min-width: 1250px) {
  .home {
    background-position-y: bottom;
  }
}

.home {
  i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
    animation: animate linear infinite;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
